// fonts
$font-family: "Josefin Sans", sans-serif;
$font-size: 0.9rem;
$font-weight: 400;
// colors
$primary: #c09161;
$primary-light: #cca67f;
$primary-lighter: #f8f2ed;
$primary-dark: #b68049;
$secondary: #1a1423;
$dark: #343536;
$dark-light: #646464;
$dark-lighter: #aaaaaa;
$border: #eeeeee;
$white: #ffffff;
$light: #e7e7e7;
$lighter: #f9f9f9;
$bg: #edf8f4;
